body {
    background-color: rgb(43, 43, 119);
}

#title {
    color: red;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

.foto {
    width: 850px;
    height: 350px;
    margin-left: 250px;
}